In [1]:
!rm hawaii.sqlite

In [2]:
# create dependencies to be used for reading in data
import pandas as pd
import numpy as np
import os

In [3]:
# list csv files
csv1 = "clean_measure.csv"
csv2 = "clean_stations.csv"

In [4]:
# read csv files into a pandas dataframe
meas = pd.read_csv(csv1, dtype=object)
stn = pd.read_csv(csv2, dtype=object)

In [5]:
# Python SQL toolkit and ORM
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float

In [6]:
# create an engine to a database file called `hawaii.sqlite`
engine = create_engine("sqlite:///hawaii.sqlite")

In [7]:
conn = engine.connect()

In [8]:
# use `declarative_base` from SQLAlchemy to model the tables as an ORM class

Base = declarative_base()

class Measurements(Base):
    __tablename__ = 'measurements'
    
    id = Column(Integer, primary_key=True)
    station = Column(Text)
    date = Column(Text)
    prcp = Column(Float)
    tobs = Column(Integer)
    
    def __repr__(self):
        return f"id={self.id}, name={self.name}"

class Station(Base):
    __tablename__ = 'station'
    
    station = Column(Text, primary_key=True)
    name = Column(Text)
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)
    
    def __repr__(self):
        return f"id={self.id}, name={self.name}"

In [9]:
# use `create-all` to create the tables in the database
Base.metadata.create_all(engine)

In [10]:
# load the cleaned csv files into a pandas dataframe
df1 = pd.read_csv('clean_measure.csv')
df2 = pd.read_csv('clean_stations.csv')

In [11]:
# use Orient='records' to create a list of data to write
data_set_1 = df1.to_dict(orient='records')
data_set_1[0]

{'date': '2010-01-01',
 'id': 0,
 'prcp': 0.08,
 'station': 'USC00519397',
 'tobs': 65}

In [12]:
# use Metadata from SQLAlchemy to reflec the tables
metadata = MetaData(bind=engine)
metadata.reflect()

In [13]:
# Save the reference to the `measurements` table as a variable called `table`
table = sqlalchemy.Table('measurements', metadata, autoload=True)

In [14]:
# remove any existing table data
conn.execute(table.delete())

In [15]:
# insert data into table
conn.execute(table.insert(), data_set_1)

In [16]:
# test and verify first five (5) rows
conn.execute("select * from measurements limit 5").fetchall()

[(0, 'USC00519397', '2010-01-01', 0.08, 65),
 (1, 'USC00519397', '2010-01-02', 0.0, 63),
 (2, 'USC00519397', '2010-01-03', 0.0, 74),
 (3, 'USC00519397', '2010-01-04', 0.0, 76),
 (5, 'USC00519397', '2010-01-07', 0.06, 70)]

In [17]:
# use Orient='records' to create a list of data to write
data_set_2 = df2.to_dict(orient='records')
data_set_2[0]

{'elevation': 3.0,
 'latitude': 21.2716,
 'longitude': -157.8168,
 'name': 'WAIKIKI 717.2, HI US',
 'station': 'USC00519397'}

In [18]:
# use Metadata from SQLAlchemy to reflec the tables
metadata = MetaData(bind=engine)
metadata.reflect()

In [19]:
# Save the reference to the `station` table as a variable called `table`
table = sqlalchemy.Table('station', metadata, autoload=True)

In [20]:
# remove any existing table data
conn.execute(table.delete())

In [21]:
# insert data into table
conn.execute(table.insert(), data_set_2)

In [22]:
# test and verify first five (5) rows
conn.execute("select * from station limit 5").fetchall()

[('USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 ('USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 ('USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 ('USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 ('USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6)]